@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-BlackItalic.woff2') format('woff2'),
        url('InterUI-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Black.woff2') format('woff2'),
        url('InterUI-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-MediumItalic.woff2') format('woff2'),
        url('InterUI-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Bold.woff2') format('woff2'),
        url('InterUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Regular.woff2') format('woff2'),
        url('InterUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Italic.woff2') format('woff2'),
        url('InterUI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-Medium.woff2') format('woff2'),
        url('InterUI-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('InterUI-BoldItalic.woff2') format('woff2'),
        url('InterUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

