//colors
$black: #344654 !default;
$blue: #01C7F1 !default;
$gray-900: #526C79 !default;
$pink: #F94F7A !default;
$yellow: #FBF9F0 !default;
$gray-800: #555555 !default;
$green: #30c13d;
$gray-100: #868686 !default;
$left_sidebar_bg: #151b26;
$left_sidebar_hover: #2f3a46;
$header_border: #eeeeee;
$form_border: #bbc3c8;
$circle_badge: #850037;
$mehron: #89073c;
$mehron_dark:#990d46;
$mehron-600: #9b2c59;
$mehron-300: rgba(133, 0, 56, 0.37);
$filter_link: #566975;
$form_control_border: #b3bbc1;
$cal_month: #2b3034;
$main_content_bg: #fefefe;
$tab_bg: #ebf0f7;
$tab_bg2: #e0e1e6;
$mehron-100: #850038;
$title-color: #2a2f34;
$blck-100: #282828;
$card-border: #c7cdd1;
$badge-bg: #850037;
$bg-yellow: #cbcd43;
$bg-blue: #1e91e2;
$bg-orange: #f07216;
$bg-green: #bd9e55;
$bg-red: #eb4949;
$box-border: #d6d7dc;
$white-color: #fff;
$cancel_btn: #2e3644;
$input_border: #e1e1e1;
$badges_red: #e92d2d;
$header_bg: #676b72;
$orange_100: #f34a4a;
$secondary_100:#bac2c9;
$pink:#c55784;
$btn_red:#f44a4b;
$placeholder:#364347;
$profile_text_orange: #fe5f5f;
$profile_text_blue: #3ba2e3;
$profile_text_yellow: #f8c425;
$orange_dot: #fa823a;
$text_danger: #d60f51;
$mehron-200: #ab385e;
$pink-100:#f6ecf0;
$theme_body_clr: #31323C !default;
$bg_primary:#00aeef;
$bg_gray:#f8f7f7;
$theme_gray:#333333;
$theme_brown:#6f1033;
$btn_hover:#7c0e36;
$table_hvr_bg:#f2f2f2;
$aqua:#3cdad4;
$green_100:#6eee80;
$pink_dark:#f93881;
$cal_border:#e7e7e7;
$filter_search_border:#a8b3bc;
$dark_gray: #283449;
// Fonts
$font-family-base: 'Open Sans',
sans-serif;
// stylelint-enable value-keyword-case
$font-size-base:0.9375rem !default; // Assumes the browser default, typically `16px`