/* Media query */

@media screen and (max-width: 1750px) {
    .cst_width_60 {
        width: 50%;
    }
}

@media screen and (max-width: 1700px) {
    .tickets_wraper.app-content .inbox_card .media .media-body-top {
        width: calc(100% - 120px);
    }
    .tickets_wraper.app-content .inbox_card .media .info_media {
        width: 70px;
    }
}

@media screen and ( max-width: 1680px) {
    .limiter .container-login100 .wrap-login100 .login100-more .img-login {
        height: auto;
    }
    .inspection_wraper .inspection_tab_content .custom_card .card-text {
        font-size: 14px;
    }
    .inspection_wraper .inspection_tab_content .custom_card .cst_card_footer .card-footer-text {
        font-size: 12px;
        min-height: 36px;
    }
    .inspection_wraper .inspection_tab_content .custom_card .cst_card_footer .card-footer-title {
        font-size: 11px;
    }
    .inspection_wraper .inspection_tab_content .custom_card .cst_media .media-body p {
        font-size: 13px;
    }
    .inspection_wraper .inspection_tab_content .custom_card {
        margin-right: 10px;
    }
    .avg_performance_img img {
        height: 242px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 242px;
    }
    .tickets_report_content .avg_performance_img img {
        height: 241px;
    }
    .inspector_report .cst_width1 {
        width: inherit;
    }
    .inspector_report .cst_width {
        width: 40% !important;
    }
    .private_inspector_report .private_report_body {
        padding: 1.25rem;
    }
    .overall_report_details .performance_table .cst_width1 {
        width: 40% !important;
    }
}

@media screen and ( max-width: 1600px) {
    .tickets_report_content .cst_width {
        width: 80% !important;
    }
    .avg_performance_img img {
        height: 235px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 235px;
    }
    .tickets_report_content .avg_performance_img img {
        height: 234px;
    }
    .inspector_report .tile_block h4 {
        font-size: 19px;
    }
    .private_inspector_report .inspection_performance_img img {
        min-height: 70px;
    }
    /*dashboard*/
    .admin_dashboard .performance_chart .chart_title1 {
        font-size: 18px;
    }
    .admin_dashboard .tile_block h2 {
        font-size: 36px;
    }
}

@media screen and ( max-width: 1536px) {
    .edit_report_content .edit_icn {
        margin-left: 0px;
    }
    .detail_content .list_items {
        min-width: 105px;
    }
    .detail_content .dark_txt {
        font-size: 13px;
    }
    .tickets_wraper.app-content .inbox_card .media .info_media {
        width: 60px;
    }
    .report_content .organization_txt {
        font-size: 14px;
        min-height: 35px;
    }
    .avg_performance_img img {
        height: 232px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 233px;
    }
    .tickets_report_content .avg_performance_img img {
        height: 232px;
    }
    .report_content .report_card .date_title {
        font-size: 12px;
    }
    .report_content .report_card .report_title {
        font-size: 16px;
    }
    .report_content .report_card .overall_report {
        min-height: 49px;
    }
    .report_content .organization_txt {
        font-size: 13px;
    }
    .tickets_report_content .ticket_category_img img {
        width: 100%;
        height: 100%;
    }
    /*dashboard*/
    .admin_dashboard .tile_block h6 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1480px) {
    .tickets_wraper.app-content .inbox_card .user_id_sec table tbody .th-sm {
        width: 100px;
        white-space: nowrap;
    }
    .tickets_wraper.app-content .inbox_card .user_id_sec table tbody .th-md {
        width: 220px;
        white-space: nowrap;
    }
    .tickets_wraper.app-content .inbox_card .media .info_media {
        width: 50px;
    }
}

@media screen and ( max-width:1440px) {
    .inspection_wraper .inspection_tab_content .custom_card .card-text {
        font-size: 13px;
    }
    .inspection_wraper .inspection_tab_content .custom_card .cst_media .media-body {
        padding-left: 8px;
    }
    .inspection_wraper .inspection_tab_content .custom_card .img_circle {
        width: 45px;
        height: 45px;
        line-height: 43px;
        font-size: 18px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 225px;
    }
    .tickets_report_content .avg_performance_img img {
        height: 240px;
    }
    .overall_report_details .overall_report_content .average_performance .average_performance_title {
        font-size: 15px;
    }
    .overall_report_details .overall_report_content .average_performance .app-nav__item {
        font-size: 12px;
    }
    .avg_performance_img img {
        height: 229px;
    }
    .inspector_report .cst_width {
        width: inherit !important;
    }
    .inspector_report .tile_block h4 {
        font-size: 16px;
    }
    .inspector_report .tile_block h2 {
        font-size: 28px;
    }
    .cst_width_60 {
        width: 40%;
    }
    .scripps_content .performance_box {
        padding: 54px 0 !important;
    }
    .inspection_forms .cst_width_60 {
        width: 60%;
    }
    /*dashboard*/
    .admin_dashboard .performance_chart .chart_title1 {
        font-size: 16px;
        min-height: 40px;
    }
    .admin_dashboard .circle {
        width: 70px;
        height: 70px;
        img {
            width: 40px;
        }
    }
    .admin_dashboard .tile_block h2 {
        font-size: 32px;
    }
    .admin_dashboard .chart-content .tile {
        padding: 10px 10px 10px;
    }
    .chart-content .col-xl-3 {
        padding: 0 8px;
    }
    .chart_cont_box {
        padding: 0 8px;
    }
    .super_admin .cst-col {
        padding-right: 8px;
        padding-left: 8px;
    }
    /*dashboard*/
    .chart-content .chart-box-botL .chart_title2 {
        font-size: 20px;
    }
    /*super admin*/
    .super_admin .performance_chart .chart_title1 {
        min-height: 0;
    }
    /*quotes screen media*/
    .quotes_table_content .col_status {
        width: 25%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .user_profile_details .user_profile_details_sec .assign_location .user_assigned .assign_modal {
        width: 100%;
    }
    .user_profile_details .user_profile_details_sec .assign_location .user_assigned .assign_modal .modal_select .assign_modal_btn .assign_btn {
        display: block;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
    }
    .user_profile_details .user_profile_details_sec .assign_location .user_assigned .assign_modal .modal_select .assign_modal_btn .close_btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:1406px) and (min-width:1200px) {
    .quotes_table_content .cst_btn {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1366px) {
    .avg_performance_img img {
        height: 219px;
    }
    .inspector_report .tile_block h4 {
        font-size: 14px;
    }
    .inspector_report .card-body {
        padding: .75rem;
    }
    .cst_grid {
        padding-right: 5px;
        padding-left: 5px;
    }
    .scripps_content .performance_box {
        padding: 47px 0 !important;
    }
    .scripps_content .overall_performance_img img {
        height: 222px !important;
    }
    /*approve media*/
    .work_order_block .md_title {
        font-size: 30px;
    }
    .work_order_block .w_order_media .media_title {
        font-size: 26px;
    }
}

@media screen and (max-width: 1300px) {
    .chart-content .chart-box-topL.col-md-3 {
        flex: auto;
        max-width: 100%;
    }
    .chart-content .chart-box-topL.col-md-3 .performance_chart .chart-img {
        text-align: center;
        padding-left: 0;
    }
    .chart-content .chart-box-topR.col-md-9 {
        flex: auto;
        max-width: 100%;
    }
    .overall_report_details .performance_table .cst_width {
        width: auto;
    }
    .scripps_content .performance_box img {
        width: 40px;
    }
    .scripps_content .tile_block h3 {
        font-size: 20px;
    }
    .scripps_content .tile_block h6 {
        font-size: 14px !important;
    }
    .scripps_content .overall_performance_img img {
        height: 200px !important;
    }
    .scripps_content .performance_table .cst_width {
        width: 60%;
    }
}

@media screen and ( max-width:1280px) {
    .limiter .container-login100 .login100-more .foot-note p {
        font-size: 16px;
        padding: 0;
    }
    .limiter .container-login100 .login100-more .foot-note h5 {
        margin: 0 0 10px;
        font-size: 18px;
    }
    .limiter .container-login100 .login100-more {
        padding: 150px 40px 40px;
        left: 500px;
    }
    .limiter .container-login100 .login100-form {
        top: 30px;
        width: 500px;
    }
    .inspection_wraper .inspection_tab_content .custom_card .card-text {
        font-size: 12px;
    }
    .detail_content .dark_txt {
        font-size: 12px;
    }
    .edit_report_content .graph_img {
        text-align: center;
    }
    .edit_report_content .graph_img img {
        text-align: center;
        width: 150px;
    }
    .detail_content .list_items {
        min-width: 95px;
    }
    .report_content .report_card .report_title {
        font-size: 18px;
    }
    .overall_report_details .overall_report_content .tile_block h6 {
        font-size: 12px;
    }
    .avg_performance_img img {
        height: 212px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 213px;
    }
    .tickets_report_content .avg_performance_img img {
        height: 231px;
    }
    .overall_report_details .overall_report_content .average_performance .app-nav__item {
        padding: 0 4px;
    }
    .report_content .organization_txt {
        min-height: 30px;
    }
    .avg_performance_img img {
        height: 215px;
    }
    .quotes_table_content .quotes_table td {
        font-size: 13px;
    }
    .overall_report_details .performance_table th {
        white-space: nowrap;
    }
}

@media screen and ( max-width:1199px) {
    .quotes_btn_wrap {
        margin-top: 10px;
    }
    .edit_report_content .graph_img img {
        width: auto;
    }
    .edit_report_content .graph_img {
        text-align: left;
    }
    .vertical_tab_block .vertical_nav_tab {
        height: 112vh;
    }
    .overall_report_details .overall_report_content .performance_box {
        padding-bottom: 6px;
    }
    .overall_report_details .overall_report_content .performance_box1 {
        padding-top: 6px;
    }
    .overall_report_details .overall_report_content .tile_block h5 {
        margin-bottom: 4px;
    }
    .overall_report_details .overall_report_content .average_performance .average_performance_title {
        font-size: 14px;
    }
    .overall_report_details .overall_report_content .average_performance .app-nav__item {
        font-size: 11px;
    }
    .tickets_report_content .avg_performance_img img {
        height: 211px;
    }
    .tickets_report_content .tile_block {
        margin-right: 10px;
    }
    .report_content .organization_content {
        align-items: center;
    }
    .report_content .report_card .report_title {
        font-size: 13px;
    }
    .report_content .report_card .report_title {
        font-size: 14px;
    }
    .report_content .organization_txt {
        font-size: 13px;
        min-height: 55px !important;
    }
    .overall_report_details .overall_report_content .tile_block h5 {
        font-size: 14px;
    }
    .inspection_wraper .cst-col {
        width: 50%;
        max-width: 50%;
        display: block;
        float: left;
        flex-basis: inherit;
        margin-bottom: 10px;
    }
    /* .cst-col:nth-child(5n+1){
    clear: both;
  }*/
    .inspector_report .card {
        margin-bottom: 10px;
    }
    .scripps_content .performance_details {
        margin-top: 10px !important;
        box-shadow: none;
    }
    .scripps_content .performance_box {
        padding: 30px 0 !important;
        margin-bottom: 0px !important;
    }
    /*super admin*/
    .super_admin .cst-col {
        max-width: 50%;
        width: 50%;
    }
    /* quotes screen media */
    .quotes_table_content .cst_btn {
        margin-bottom: 10px;
    }
    .search_filter_cont .out_line_link_rest {
        min-width: 60px;
        margin-left: 10px;
    }
}

@media screen and ( max-width:1100px) {
    .inspection_wraper .inspection_tab_content .custom_card .card-text {
        min-height: 33px;
    }
    .inspection_wraper .inspection_tab_content .custom_card .cst_media .media-body p {
        min-height: 35px;
    }
    .inspection_wraper .inspection_tab_content .custom_card {
        margin-right: 15px;
        margin-bottom: 10px;
    }
    /*  .inspection_wraper .inspection_tab_content .custom_card {
    width: 23%;
  }*/
    .wraper_content .calender_block .select_box .custom-select {
        min-width: 125px;
    }
    .wraper_content .filter_block {
        margin-right: 0;
    }
    .tickets_report_content .avg_performance_img img {
        height: 186px;
    }
    .report_content .report_card .overall_report {
        min-height: 60px;
        margin-bottom: 10px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 208px;
    }
    /*approve screen media*/
    .work_order_block .md_title {
        font-size: 26px;
    }
    .work_order_block .cst_para {
        font-size: 15px;
        margin: 20px 0;
    }
    .work_order_block .w_order_media .media_title {
        font-size: 22px;
    }
}

@media screen and ( max-width:1075px) {
    /*quotes*/
    .btn_danger {
        margin-bottom: 10px;
        margin-right: 0 !important;
    }
    .inspection_wraper .inspection_nav_tabs .nav-link {
        padding: 2rem 0.6rem 1rem;
        font-size: 15px;
    }
}

@media screen and ( max-width:1024px) {
    /*  .inspection_wraper .inspection_tab_content .custom_card {
    width: 45%;
  }*/
    .inspection_wraper .inspection_tab_content .custom_card {
        margin-right: 22px;
    }
    .profile_detail_modal {
        margin: 0 10px !important;
    }
    .avg_performance_img img {
        height: 204px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 224px;
    }
    .overall_report_details .overall_report_content .average_performance .app-nav__item {
        padding: 0 0px;
    }
    .tickets_report_content .avg_performance_img img {
        height: 200px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 205px;
    }
    .inspection_forms .quotes_table td {
        white-space: nowrap;
    }
    /*account*/
    .account_sec .no_break {
        white-space: inherit;
    }
    .account_sec .mr_20 {
        margin-bottom: 10px;
        display: block;
        margin-right: 0;
    }
}

@media screen and ( max-width: 991px) {
    .accounts_btn_wrap {
        margin-top: 15px;
        text-align: left !important;
    }
    .quotes_btn_wrap {
        margin-top: 0;
    }
    .quotes_btn_wrap a {
        float: right !important;
    }
    .search_filter_cont a.out_line_link {
        margin-top: 15px;
    }
    .limiter .container-login100 .wrap-login100 .login100-more {
        padding: 150px 10px 40px;
    }
    .app-search__input {
        min-width: auto;
    }
    .app_title {
        font-size: 22px;
    }
    .wraper_content .filter_cal_box {
        width: 100%;
        margin-top: 6px;
    }
    .wraper_content .filter_block .list_filter .list_item .list_link {
        padding: 6px 2px;
    }
    .wraper_content .cal_block {
        padding-left: 6px;
        padding-right: 6px;
    }
    .inspection_wraper .inspection_nav_tabs .nav-link {
        padding: 2rem .5rem 1.5rem;
        font-size: 15px;
    }
    .inspection_wraper .header_right_block .export_dropdown .app-nav__item {
        font-size: 12px;
    }
    .tickets_wraper.app-content .inbox_card .media {
        display: block;
    }
    .tickets_wraper.app-content .inbox_card .media .msg_number {
        display: inline-block;
        padding: 15px 15px;
    }
    .tickets_wraper.app-content .inbox_card .media .media-body {
        padding-left: 0;
        margin-top: 10px;
        width: 100%
    }
    .tickets_wraper.app-content .inbox_card .media .info_media {
        padding: 10px 10px 0 0;
        flex-wrap: inherit;
        top: 0;
        right: 0;
        left: inherit;
        bottom: inherit;
    }
    .tickets_wraper.app-content .inbox_card .media .media-body h5 {
        font-size: 16px;
    }
    .tickets_wraper.app-content .inbox_card .media .media-body {
        font-size: 14px;
    }
    .tickets_wraper.app-content .inbox_card .media .msg_number .badge {
        right: 10px;
        top: 32px;
        font-size: 10px;
    }
    .map_img_block img {
        width: 100%;
    }
    .profile_detail_modal .profile-modal-content .graph_img img {
        width: 100%;
    }
    .area_score_img img {
        width: 100%;
    }
    .profile_detail_modal .vertical_tab_block .area_content_block .product_info_card .door_body_content .file_attachment .product_img_box {
        width: 100%;
        height: 100%;
    }
    .vertical_tab_block .nav.nav-tabs {
        width: 100%;
    }
    .vertical_tab_block .vertical_nav_tab {
        height: 100%;
    }
    .edit_report_content .inspection_form_card {
        margin: 10px 0 15px 20px;
        display: inline-block;
    }
    .edit_report_content .edit_report_header .report_header_title {
        font-size: 18px;
    }
    .quotes_table_content .quotes_table td {
        font-size: 13px;
    }
    .overall_report_details .overall_report_content .average_performance {
        margin-top: 10px;
    }
    .avg_performance_img img {
        height: 100%;
    }
    .overall_report_details .title_box {
        max-width: 500px;
    }
    .overall_report_details .overall_report_content .overall_performance_img img {
        height: 100%;
    }
    .overall_report_details .overall_report_content .average_performance .app-nav__item {
        padding: 0 4px;
    }
    .tickets_report_content .ticket_category_img img {
        width: 100%;
    }
    .tickets_report_content .avg_performance_img img {
        height: 100%;
    }
    .overall_report_details .performance_table th {
        font-size: 13px;
    }
    .tickets_user_profile_body .tickets_user_activity .people_notify_others .use_hashtag {
        text-align: left;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .attachment_sec .attachments_files .attachments__file_box {
        width: 145px;
        height: 130px;
    }
    .chart-content .chart-box-topR.col-md-9 .chart-img img {
        height: 100%;
        width: 100%;
    }
    /*quotes*/
    .inspection_wraper .tab_header {
        padding: 0 10px 0 10px;
    }
    .reject_quot {
        padding-right: 0;
    }
    /*edit profile*/
    .edit_profile_modal .modal-body {
        padding: 0 1rem;
    }
    .add_account_modal .modal-title {
        font-size: 18px;
    }
    .edit_profile_modal .cst_nav_tab>li>a {
        font-size: 15px;
    }
    .edit_profile_modal .cst_nav_tab {
        padding: 10px 14px 0 14px;
    }
    .app-search {
        max-width: 230px;
        width: 100%;
    }
    /*dashboard media*/
    .chart-content .chart-box-botL .chart_title2 {
        font-size: 18px;
    }
    span.icn_navbar_title {
        display: none;
    }
    a.btn.btn-secondary.cst_btn.new_qut_btn {
        float: left;
        margin: 15px 0 0 0;
    }
    /**css hrer 631**/
    .quotes_table_content .col_id,
    .quotes_table_content .col_account,
    .quotes_table_content .col_total_sales,
    .quotes_table_content .col_description,
    .quotes_table_content .col_status,
    .quotes_table_content .col_more,
    .useradmin_table .col_id,
    .useradmin_table .col_accoun,
    .useradmin_table .col_total_sales,
    .useradmin_table .col_total_sales,
    .useradmin_table .col_status,
    .useradmin_table .col_more,
    .accounts_table_contnet .col_account,
    .accounts_table_contnet .col_phonenum,
    .accounts_table_contnet .col_email,
    .accounts_table_contnet .col_address,
    .accounts_table_contnet .col_action,
    .accounts_table_contnet .col_date_time {
        width: auto;
    }
    .quotes_table_content .quotes_table th {
        float: none;
    }
    .quotes_table_content .quotes_table .cst_tr {
        float: none;
    }
}

@media only screen and (max-width: 800px) {
    .limiter .container-login100 .login100-more .foot-note h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .limiter .container-login100 .login100-more .foot-note h5 {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .approve_head.app-header:before {
        background: none;
    }
}

@media screen and ( max-width: 768px) {
    .cus_ffoter_block {
        left: 0;
    }
    .app_header_block a {
        display: inline-block;
    }
    .chart_section .chart-content .chart-box-topL.col-md-3 .performance_chart {
        margin-bottom: 15px;
    }
    .chart_section .chart-content .chart-box-botL {
        margin-bottom: 15px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .attachment_sec .attachments_files .attachments__file_box {
        margin-bottom: 10px;
    }
    .cus_ffoter_block {
        border-top: 1px solid #f5f5f5;
    }
    .inspection_wraper .header_right_block {
        text-align: left;
    }
    .request_quotes_header .request_quotes_btn .btn-secondary {
        padding: 0.50rem 0.65rem;
        font-size: 14px;
    }
    .inspection_wraper .inspection_tab_content .custom_card .card-text {
        min-height: 28px;
    }
}

@media screen and ( max-width: 767px) {
    .limiter .container-login100 .wrap-login100 .login100-form {
        width: 100%;
    }
    .limiter .container-login100 .wrap-login100 .login100-more {
        display: none;
    }
    .limiter .inner_form {
        max-width: 420px;
    }
    .limiter .inner_form h2 {
        margin: 0 0 30px;
    }
    .form_group_modify {
        margin-bottom: 15px;
    }
    .limiter .inner_form {
        margin: 30px auto 30px;
    }
    .limiter .container-login100 .wrap-login100 #signup_form .inner_form h1 {
        font-size: 30px;
    }
    .limiter .inner_form h1 {
        font-size: 34px;
    }
    .cus_ffoter_block {
        padding-left: 0;
    }
    .logout_btn {
        margin-right: 15px;
    }
    .logout_btn a {
        font-size: 14px;
        padding: 5px 10px;
        font-weight: 500;
    }
    .quotes_table {
        white-space: nowrap !important;
    }
    .app_title {
        padding-left: 0;
    }
    /* .inspection_wraper .tab_header {
       padding: 0 10px 0 10px;
     }*/
    .tickets_wraper .inspection_tab_content {
        padding: 0 15px;
    }
    .disable_scroll {
        overflow: hidden;
    }
    .apply_filter_content .offcanvas--right--active {
        overflow-y: scroll;
    }
    .tickets_wraper.app-content .inspection_sub_header .aplly_filter_block .add_ticket {
        padding: 10px 10px 9px;
        font-size: 14px;
    }
    #addticketmodal .modal-content .modal-header h5 {
        font-size: 16px;
    }
    #addticketmodal .modal-content .modal-header .close {
        padding: 13px 20px;
    }
    #addticketmodal .modal-content .modal-header .close img {
        width: 15px;
    }
    .profile_detail_modal .profile-modal-content .detail_content .dark_txt {
        font-size: 13px;
    }
    .profile_detail_modal .profile-modal-content .graph_img img {
        width: auto;
    }
    .profile_detail_modal .profile-modal-content .graph_img {
        text-align: left;
    }
    .map_img_block img {
        width: auto;
    }
    .profile_detail_modal .profile-modal-content .map_img_block {
        text-align: left;
    }
    .area_score_img {
        margin-bottom: 20px;
        display: inline-block;
    }
    .profile_detail_modal .vertical_tab_block .area_content_block .product_info_card .door_header {
        display: inherit;
    }
    .xl_logo {
        display: none;
    }
    .xs_logo {
        display: inline-block;
    }
    .app_title {
        font-size: 18px;
    }
    .app-header__logo {
        padding: 0 10px;
    }
    .app-search {
        margin-right: 0px;
    }
    .app-search__input {
        width: 170px;
    }
    .mob_header {
        justify-content: inherit;
        -webkit-justify-content: inherit;
    }
    .app-header__logo {
        flex: none;
        -webkit-box-flex: initial;
        -ms-flex: 0;
    }
    .app-sidebar__toggle {
        padding: 0 5px 0 20px;
    }
    .overall_report_details .performance_table .area_title {
        font-size: 18px;
    }
    .overall_report_details .performance_table .area_txt {
        font-size: 12px;
        color: #566975;
    }
    .overall_report_details .overall_report_content .border_bottom {
        border-bottom: none;
    }
    .overall_report_details .overall_report_content .border_right {
        border-right: none;
    }
    .overall_report_details .title_box {
        max-width: 400px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .attachment_sec .attachments_files .attachments__file_box {
        width: 100%;
    }
    .tickets_user_profile_body .tickets_user_activity {
        padding: 35px 0 15px;
    }
    .tickets_user_profile_body .tickets_user_activity .tickets_top_header h4 {
        font-size: 20px;
    }
    .tickets_user_profile_body .tickets_user_activity .tickets_top_header .fas {
        font-size: 15px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .tickets_user_title1x {
        font-size: 17px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .tickets_users_comments .sent_comments .user_comment_details p {
        font-size: 15px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .tickets_users_comments .tickets_user_title2x {
        font-size: 17px;
    }
    #addticketmodal .modal-content .file_attachment_area .attchment_img {
        margin-bottom: 6px;
        width: 32px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .attachment_sec .attachments_files .attachments__file_box {
        width: 100%;
        height: 100%;
    }
    .inspection_wraper {
        margin-top: 26px !important;
    }
    .report_content_wrapper {
        margin-bottom: 50px;
    }
    .tickets_report_content .card_header {
        margin-bottom: 0;
    }
    .user_profile_details .user_profile_details_sec .assign_location {
        margin-top: 15px;
    }
    .user_profile_details .user_profile_details_sec .priority_id {
        margin-top: 20px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .attachment_sec .attachments_files {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .misc_section h6 {
        margin-top: 22px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .tickets_users_comments {
        margin-top: 18px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .tickets_users_comments .sent_comments {
        margin-top: 10px;
    }
    .user_profile_details .user_profile_details_sec .created_lastActivity .view_inspection_btn {
        margin-top: 10px;
    }
    .overall_report_details .overall_report_content .performance_box {
        padding-bottom: 12px;
        border-bottom: 1px solid #f8f9fa;
        margin-bottom: 12px;
    }
    .overall_report_details .overall_report_content .performance_box1 {
        padding-bottom: 12px;
        border-bottom: 1px solid #f8f9fa;
        margin-bottom: 12px;
    }
    .app-sidebar {
        box-shadow: none;
        top: 25px;
        width: 210px;
    }
    .vertical_tab_block .area_content_block .product_info_card .door_header .badges_block .badge-danger {
        font-size: 12px;
        padding: 8px 15px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .misc_section p {
        font-size: 15px;
    }
    .scripps_content .performance_box {
        padding: 25px 0 !important;
        margin-bottom: 0px !important;
    }
    /*dashboard*/
    .chart-content .col-xl-3 {
        padding: 0 8px;
    }
    .app-nav {
        width: 100%;
        margin-top: 6px;
    }
    .app_title {
        margin-top: 20px;
    }
    .mob_icn {
        display: inline-block;
    }
    .icn_white {
        display: none;
    }
    .xs_logo {
        width: 120px;
    }
    .mob_header {
        padding: 15px 0;
    }
    .app-sidebar__toggle {
        order: inherit;
        margin-top: 10px;
    }
    .app-header__logo {
        vertical-align: middle;
        display: flex;
        align-items: center;
    }
    /*dashboard media*/
    .admin_dashboard .app_inner_title {
        float: left;
    }
    /*quotes*/
    .request_quotes_header {
        justify-content: inherit !important;
    }
    .inspection_sub_header {
        padding: 20px 0 10px 0;
    }
    /*quotes*/
    .inspection_wraper .tab_header {
        padding: 30px 20px 0 10px;
    }
    /*account*/
    .account_sec .inspection_sub_header {
        padding: 30px 0 10px 20px;
    }
    /*user*/
    .user_dashboard .performance_chart {
        margin-bottom: 15px;
    }
    .user_newQuote.wraper_content .inspection_content_sec {
        padding-top: 50px;
    }
    .user_newQuote.wraper_content .inspection_content_sec h1 {
        font-size: 22px;
        text-align: left;
        margin-bottom: 20px;
    }
    .user_newQuote.wraper_content .inspection_content_sec .quote_form {
        max-width: 100%;
    }
    .user_newQuote.wraper_content .inspection_content_sec .addQuote_form #total_sale {
        max-width: 100%;
    }
    .user_quotes .quotes_table tbody tr td:nth-child(4),
    .user_quotes .quotes_table thead tr th:nth-child(4) {
        display: none;
    }
    .add_account_modal .custom-select {
        background-position: 97% center !important;
    }
    .app-search {
        max-width: inherit;
        width: auto;
    }
    #wrap_register .limiter .container-login100 #signup_form .inner_form h1 {
        font-size: 28px;
    }
    /*approve screen media*/
    .work_order_block .md_title {
        font-size: 24px;
    }
    .work_order_block .cst_para {
        font-size: 15px;
        margin: 15px 0;
    }
    .work_order_block .w_order_media .media_title {
        font-size: 21px;
    }
    .inspection_wraper .inspection_tab_content {
        padding: 20px 15px;
    }
    .edit_profile_modal {
        padding-right: 0 !important;
    }
    .search_filter_cont {
        margin-top: 45px !important;
    }
    .search_filter_cont a.out_line_link {
        margin-top: 15px;
    }
    span.icn_navbar_title {
        display: none;
    }
    .thankyou_body .app-header__logo {
        border-bottom: none;
    }
    .thankyou_body .thankyou_content p {
        font-size: 13px;
    }
    .thankyou_body .thankyou_content h1 {
        font-size: 30px;
    }
    .thankyou_body .thankyou_content a {
        font-size: 15px;
        padding: 8px 50px;
    }
    .thankyou_content .thankyou_img {
        margin: 0 auto;
        width: 200px;
    }
}

@media screen and ( max-width: 660px) {
    .apply_filter_content .filter_header {
        border-top-left-radius: 0;
    }
}

@media screen and ( max-width: 590px) {
    .inspection_wraper {
        margin-top: 20px !important;
    }
}

@media screen and ( max-width: 599px) {
    .app-search__input {
        display: none;
    }
    .app-search {
        display: none;
    }
    .overall_report_details .title_box {
        max-width: 300px;
    }
    .search_filter_cont .app-search {
        display: block;
        margin-bottom: 15px;
    }
    .accounts_btn_wrap {
        margin-top: 0;
    }
}

@media screen and ( max-width: 575px) {
    .quotes_btn_wrap a {
        float: left!important;
    }
    .limiter .container-login100 .wrap-login100 .login100-form {
        height: 100%;
    }
    .limiter .inner_form {
        width: 90%;
        height: 100%;
    }
    .limiter .container-login100 .wrap-login100 #signup_form {
        padding: 0;
    }
    .search_filter_cont .app-search {
        max-width: 100%;
    }
    .inspection_wraper .inspection_nav_tabs .nav-link {
        padding: 1.2rem .3rem;
        font-size: 13px;
    }
    .inspection_wraper .inspection_tab_content .custom_card {
        width: 100%;
    }
    .header_right_block {
        justify-content: left;
        display: inherit !important;
    }
    .file_attachment .col-12 {
        margin-bottom: 10px;
    }
    .profile_detail_modal .vertical_tab_block .nav.nav-tabs {
        margin-right: 0px;
    }
    .profile_detail_modal .vertical_tab_block .nav.nav-tabs {
        margin-right: 0px;
        width: 100%;
        height: auto;
    }
    .area_content_card {
        margin-left: 20px;
    }
    .map_img_block img {
        width: 100%;
    }
    .profile_detail_modal .profile-modal-content .modal-header .modal-title {
        font-size: 13px;
    }
    .profile_detail_modal .profile-modal-content .modal-header .btn-outline-white {
        font-size: 11px;
    }
    .profile_detail_modal .profile-modal-content .modal-header {
        padding: 20px 10px;
    }
    .edit_report_content .edit_report_header .report_header_title {
        font-size: 16px;
    }
    .edit_report_modal .modal-header .modal-title {
        font-size: 15px;
    }
    .overall_report_details .performance_table .cst_width {
        width: 50% !important;
    }
    .tickets_users_comments .sent_comments .media {
        display: block;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .tickets_users_comments .sent_comments .user_comment_details {
        margin-top: 10px;
    }
    .tickets_user_profile_body .tickets_user_activity .user_activity_conent .tickets_users_comments .sent_comments .tickets_user_bottomSec {
        margin-top: 10px;
    }
    .tickets_report_content .card_header {
        display: block;
    }
    .user_profile_details .user_profile_details_sec {
        margin-top: 5px;
    }
    /*dashboard*/
    .chart-content .chart-box-botL .chart_title2 {
        font-size: 18px;
    }
    .chart-content {
        margin-bottom: 50px;
    }
    .reject_quot .modal-title {
        font-size: 20px;
    }
    /*header*/
    .user_txt {
        display: none;
    }
    .app-sidebar__toggle {
        margin-top: 10px;
    }
    .admin_dashboard .card_f_txt h6 {
        margin-top: 0;
    }
    .admin_dashboard .tile_block h2 {
        font-size: 26px;
    }
    #wrap_register .limiter .container-login100 #signup_form .inner_form h1 {
        font-size: 24px;
    }
    /*approve screen media*/
    .header_block .logo_img {
        width: 130px;
    }
    .approve_screen {
        padding: 30px 10px;
    }
    .inner_content {
        padding: 20px;
    }
    .work_order_block .cst_para br {
        display: none;
    }
    .work_order_block {
        padding: 25px;
    }
}

@media screen and (max-width: 550px) {
    .inspection_wraper .header_right_block .export_dropdown .app-nav__item {
        padding: 0 0 0 4px;
    }
    .inspection_wraper .inspection_nav_tabs .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }
    .edit_report_modal .modal-header .close {
        padding: 1.7rem 1.3rem;
    }
    .edit_location_modal .modal-header .close {
        padding: 1.3rem 1.3rem;
    }
    .inspection_wraper .header_right_block .export_dropdown .app-nav__item {
        line-height: 30px;
    }
    /*dashboard*/
    .admin_dashboard .app_inner_title {
        float: inherit;
    }
    .xs_logo {
        width: 110px;
    }
}

@media screen and ( max-width:500px) {
    .overall_report_details .cst_breadcrumb .breadcrumb-item a {
        font-size: 13px;
    }
    .overall_report_details .cst_breadcrumb .breadcrumb-item.active {
        font-size: 13px;
    }
    .app-content {
        padding: 15px;
    }
    .overall_report_details .apply_filter_txt {
        font-size: 13px;
    }
    .scripps_content .performance_box {
        padding: 20px 0 !important;
    }
}

@media screen and ( max-width:480px) {
    .inspection_wraper .inspection_sub_header {
        display: inherit;
    }
    .inspection_wraper .inspection_sub_header .apply_filter_txt {
        font-size: 14px;
        margin-bottom: 8px;
        display: inline-block;
    }
    .inspection_wraper .inspection_sub_header .inspection_filter_block {
        display: inherit;
    }
    .inspection_wraper .sm-title {
        margin-bottom: 6px;
    }
    .edit_report_content .edit_report_header {
        display: inherit;
    }
    .edit_report_content .edit_report_header .report_header_title {
        margin-bottom: 10px;
    }
    .app-header {
        padding-right: 0px;
    }
    .apply_filter_content .cst_btn {
        margin: 10px 0;
    }
    .overall_report_details .overall_report_title {
        font-size: 16px;
    }
    .overall_report_details .sm_title {
        font-size: 12px;
    }
    .overall_report_details .apply_filter_txt {
        font-size: 11px;
    }
    .overall_report_details .overall_report_content .average_performance .average_performance_title {
        font-size: 13px;
    }
    .overall_report_details .performance_table th {
        font-size: 12px;
    }
    .tickets_report_content .ticket_category_card {
        display: inherit;
    }
    .tickets_user_profile_body .tickets_user_activity .people_notify_others .comment_buttons .add_comment_btn {
        margin-bottom: 10px;
        width: 100%;
    }
    .tickets_user_profile_body .tickets_user_activity .people_notify_others .comment_buttons .resolve_comment_btn {
        width: 100%;
    }
    .inspection_wraper .cst-col {
        width: 100%;
        max-width: 100%;
    }
    .vertical_tab_block .area_content_block .area_content_card .services_btn {
        margin: 0 0px 7px 0px;
        min-width: 100%;
    }
    .btn-secondary {
        font-size: 13px;
    }
    /*dashboard media*/
    .admin_dashboard .circle img {
        width: 30px;
    }
    .admin_dashboard .circle {
        width: 50px;
        height: 50px;
    }
    .admin_dashboard .card_f_txt h6 {
        font-size: 14px;
    }
    .admin_dashboard .app_inner_title {
        padding: 10px 0 28px;
    }
    .admin_dashboard .performance_chart .chart_title1 {
        font-size: 15px;
        min-height: 35px;
    }
    .chart-content .col-xl-3 {
        padding: 0 8px;
    }
    .admin_dashboard .chart-content .tile {
        margin-bottom: 17px;
    }
    .chart-content .chart-box-botL .chart_title2 {
        font-size: 16px;
    }
    /*super admin media*/
    .admin_dashboard .performance_chart .chart_title1 {
        margin-bottom: 0px;
    }
    .super_admin .tile_block h2 {
        margin-bottom: 15px;
        margin-top: 0;
    }
    .super_admin .cst-col {
        margin-bottom: 0;
    }
    .chart-content .chart-box-botL .chart_title2 {
        font-size: 16px;
    }
    /*approve media*/
    .work_order_block .w_order_media p {
        font-size: 15px;
        margin-bottom: 4px;
    }
    .work_order_block .w_order_media p br {
        display: none;
    }
    .work_order_block .w_order_media {
        margin-bottom: 26px;
    }
    .app-content.approve_screen {
        padding: 15px 0;
    }
    .inner_content {
        padding: 15px;
    }
    .work_order_block {
        padding: 10px;
    }
}

@media screen and ( max-width:455px) {
    .tickets_user_profile_body .tickets_user_activity .tickets_top_header .export_pdf {
        float: left;
    }
}

@media only screen and (max-width: 430px) {
    .limiter .container-login100 .wrap-login100 #signup_form .theme_btn.btn-wait::before,
    .limiter .container-login100 .wrap-login100 #signup_form .theme_btn.btn-wait::after {
        left: 55px;
    }
}

@media screen and ( max-width:420px) {
    .edit_report_content .door_header {
        display: inherit;
    }
    .edit_report_content .door_title {
        margin-bottom: 8px;
    }
    .app_title {
        display: block;
    }
    .inspection_wraper .inspection_sub_header {
        padding: 10px 0 22px;
    }
    .overall_report_details .title_box {
        max-width: 250px;
    }
    .overall_report_details .breadcrumb_block {
        margin: 10px 0 20px;
    }
    .overall_report_details .flex_box {
        display: inherit;
    }
    .cst_breadcrumb {
        margin-bottom: 8px !important;
    }
    .overall_report_details .sm_title {
        margin-bottom: 10px;
    }
    .overall_report_details .overall_report_title {
        margin-bottom: 15px;
    }
    .overall_report_details .overall_report_content .performance_box {
        display: flex;
    }
    .overall_report_details .overall_report_content .performance_box1 {
        display: flex;
    }
    .overall_report_details .overall_report_content .average_performance .card_header {
        padding: 10px;
    }
    .inspector_report .flex_box {
        display: flex;
    }
    .scripps_content .overall_performance_img img {
        height: 100% !important;
    }
    .performance_height {
        height: auto !important;
    }
}

@media screen and ( max-width:399px) {
    .notification_dropdown .dropdown-menu {
        min-width: 295px;
    }
    .inspection_wraper .inspection_nav_tabs .nav-link {
        padding: .65rem .3rem;
    }
    .overall_report_details .performance_table .area_title {
        font-size: 16px;
    }
    .limiter .container-login100 .wrap-login100 #signup_form .theme_btn.btn-wait::before,
    .limiter .container-login100 .wrap-login100 #signup_form .theme_btn.btn-wait::after {
        left: 35px;
    }
}

@media screen and ( max-width:375px) {
    /*dashboard media*/
    .admin_dashboard .card_f_txt h6 {
        font-size: 12px;
        min-height: 20px;
    }
    .admin_dashboard .tile_block h2 {
        margin-top: 0px;
    }
    .admin_dashboard .circle {
        width: 40px;
        height: 40px;
    }
    .admin_dashboard .circle img {
        width: 22px;
    }
    .admin_dashboard .tile_block h2 {
        margin-bottom: 5px;
    }
    .admin_dashboard .performance_chart .chart_title1 {
        margin-bottom: 12px;
    }
    .admin_dashboard .tile_block h2 {
        font-size: 20px;
    }
    .admin_dashboard .card_f_txt h6 {
        margin-top: 5px;
    }
    /*super admin*/
    .super_admin .performance_chart .chart_title1 {
        margin-bottom: 0;
    }
    .super_admin .cst-col {
        padding-right: 10px;
        padding-left: 10px;
    }
    /*approve screen media*/
    .work_order_block .w_order_media .btn_block .cst_btn {
        margin-bottom: 10px;
    }
    .header_block .contact_info {
        font-size: 14px;
    }
    .header_block .logo_img {
        width: 110px;
    }
    /*user admin screen media */
    .user_dashboard .performance_chart .chart_title1 {
        min-height: 52px;
    }
    /*quotes screen media*/
    .inspection_wraper .inspection_nav_tabs {
        padding-top: 15px;
    }
}

@media screen and ( max-width:340px) {
    .notification_dropdown .app-nav__item {
        padding: 0 10px;
    }
    .app-sidebar__toggle {
        padding: 0 5px 0 10px;
    }
    /*dashboard*/
    .wraper_content .filter_block .list_filter {
        margin-bottom: 10px;
    }
    .app-nav__item {
        padding: 0 10px;
    }
    .xs_logo {
        width: 90px;
    }
    .user_txt {
        font-size: 14px;
        margin-left: 5px;
    }
    .mob_icn {
        width: 18px;
    }
    .chart-content .chart-box-botL .chart_title2 {
        font-size: 16px;
    }
    .admin_dashboard .card_f_txt h6 {
        min-height: 28px;
    }
}

@media only screen and (max-width: 325px) {
    .limiter .container-login100 .wrap-login100 #signup_form .theme_btn.btn-wait::before,
    .limiter .container-login100 .wrap-login100 #signup_form .theme_btn.btn-wait::after {
        left: 28px;
    }
}


/* // Media query */