@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body {
    font-size: $font-size-base;
    transition: all .1s ease-in-out;
    font-family: $font-family-base;
    background-color: $white;
    color: $theme_gray;
    letter-spacing: 0.5px;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

a {
    transition: all .1s ease-in-out;
}

 :focus,
:active {
    /* border:0;*/
    outline: none;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    color: $primary;
    line-height: 40px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modal {
    z-index: 9999999999;
}

@font-face {
    font-family: 'Inter UI';
    src: url(font-path('InterUI-BlackItalic.woff2')) format('woff2'), url(font-path('/interui/interui-black/InterUI-BlackItalic.woff')) format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter UI';
    src: url(font-path('InterUI-Black.woff2')) format('woff2'), url(font-path('/interui/interui-black/InterUI-Black.woff')) format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url(font-path('InterUI-MediumItalic.woff2')) format('woff2'), url(font-path('/interui/interui-medium/InterUI-MediumItalic.woff')) format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter UI';
    src: url(font-path('InterUI-Bold.woff2')) format('woff2'), url(font-path('/interui/interui-bold/InterUI-Bold.woff')) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url(font-path('InterUI-Regular.woff2')) format('woff2'), url(font-path('/interui/interui-regular/InterUI-Regular.woff')) format('woff');
    font-weight: normal;
    font-style: normal;
}